## Imports

In [1]:
import pandas as pd
import sys

## Inspect non-iso graphs

In [2]:
num_vertices = 5

In [3]:
non_iso_graphs = pd.read_csv(f"../non_iso_bipartite_graphs/non_isomorphic_bipartite_connected_vertices_{num_vertices}.gz", compression='gzip')

In [4]:
non_iso_graphs

,len_big_partition,len_small_partition,big_partition,small_partition,edges
0,4,1,"{1, 2, 3, 4}",{0},"((0, 1), (0, 2), (0, 3), (0, 4))"
1,3,2,"{1, 2, 3}","{0, 4}","((0, 1), (0, 2), (0, 3), (1, 4))"
2,3,2,"{0, 3, 4}","{1, 2}","((0, 1), (0, 2), (1, 3), (2, 4))"
3,3,2,"{1, 2, 4}","{0, 3}","((0, 1), (0, 2), (1, 3), (2, 3), (0, 4))"

In [5]:
non_iso_graphs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 5 columns):
len_big_partition      4 non-null int64
len_small_partition    4 non-null int64
big_partition          4 non-null object
small_partition        4 non-null object
edges                  4 non-null object
dtypes: int64(2), object(3)
memory usage: 240.0+ bytes

## Inspect non-iso markets

In [6]:
non_iso_markets = pd.read_csv(f"../non_iso_markets/non_iso_markets_vertices_{num_vertices}.gz", compression='gzip')

In [7]:
non_iso_markets

   num_bidders  num_goods      bidder_0   bidder_1 bidder_2 bidder_3
0            1          4  [1, 1, 1, 1]        NaN      NaN      NaN
1            4          1           [1]        [1]      [1]      [1]
2            2          3     [1, 1, 1]  [1, 0, 0]      NaN      NaN
3            3          2        [1, 1]     [1, 0]   [1, 0]      NaN
4            2          3     [1, 1, 0]  [1, 0, 1]      NaN      NaN
5            3          2        [1, 1]     [1, 0]   [0, 1]      NaN
6            2          3     [1, 1, 1]  [1, 1, 0]      NaN      NaN
7            3          2        [1, 1]     [1, 1]   [1, 0]      NaN

In [8]:
non_iso_markets.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 6 columns):
num_bidders    8 non-null int64
num_goods      8 non-null int64
bidder_0       8 non-null object
bidder_1       7 non-null object
bidder_2       4 non-null object
bidder_3       1 non-null object
dtypes: int64(2), object(4)
memory usage: 464.0+ bytes

In [9]:
len(non_iso_graphs), len(non_iso_graphs) * 2, len(non_iso_markets)

(4, 8, 8)

## Inspect single-minded markets

In [10]:
num_vertices = 6
up_to_value = 10
max_num_rows = sys.maxsize
location = f"../all_sm_markets/values_1_to_{up_to_value}/sm_market_{num_vertices}_values_1_to_{up_to_value}.gz"
location

'../all_sm_markets/values_1_to_10/sm_market_6_values_1_to_10.gz'

In [11]:
sm_market = pd.read_csv(location, compression='gzip', nrows=max_num_rows)

In [12]:
sm_market

,index,num_bidders,num_goods,col_0,col_1,col_2,col_3,col_4,col_5,col_6,col_7,col_8,col_9
0,0,1,5,"[1, 1, 1, 1, 1]",1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,1,5,"[1, 1, 1, 1, 1]",2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,1,5,"[1, 1, 1, 1, 1]",3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,1,5,"[1, 1, 1, 1, 1]",4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,1,5,"[1, 1, 1, 1, 1]",5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,5,1,5,"[1, 1, 1, 1, 1]",6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,6,1,5,"[1, 1, 1, 1, 1]",7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,7,1,5,"[1, 1, 1, 1, 1]",8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,8,1,5,"[1, 1, 1, 1, 1]",9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,9,1,5,"[1, 1, 1, 1, 1]",10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,10,5,1,[1],[1],[1],[1],[1],1.0,1.0,1.0,1.0,1.0
11,11,5,1,[1],[1],[1],[1],[1],1.0,1.0,1.0,1.0,2.0
12,12,5,1,[1],[1],[1],[1],[1],1.0,1.0,1.0,1.0,3.0
13,13,5,1,[1],[1],[1],[1],[1],1.0,1.0,1.0,1.0,4.0
14,14,5,1,[1],[1],[1],[1],[1],1.0,1.0,1.0,1.0,5.0
15,15,5,1,[1],[1],[1],[1],[1],1.0,1.0,1.0,1.0,6.0
16,16,5,1,[1],[1],[1],[1],[1],1.0,1.0,1.0,1.0,7.0
17,17,5,1,[1],[1],[1],[1],[1],1.0,1.0,1.0,1.0,8.0
18,18,5,1,[1],[1],[1],[1],[1],1.0,1.0,1.0,1.0,9.0
19,19,5,1,[1],[1],[1],[1],[1],1.0,1.0,1.0,1.0,10.0
20,20,5,1,[1],[1],[1],[1],[1],1.0,1.0,1.0,2.0,2.0
21,21,5,1,[1],[1],[1],[1],[1],1.0,1.0,1.0,2.0,3.0
22,22,5,1,[1],[1],[1],[1],[1],1.0,1.0,1.0,2.0,4.0
23,23,5,1,[1],[1],[1],[1],[1],1.0,1.0,1.0,2.0,5.0
24,24,5,1,[1],[1],[1],[1],[1],1.0,1.0,1.0,2.0,6.0
25,25,5,1,[1],[1],[1],[1],[1],1.0,1.0,1.0,2.0,7.0
26,26,5,1,[1],[1],[1],[1],[1],1.0,1.0,1.0,2.0,8.0
27,27,5,1,[1],[1],[1],[1],[1],1.0,1.0,1.0,2.0,9.0
28,28,5,1,[1],[1],[1],[1],[1],1.0,1.0,1.0,2.0,10.0
29,29,5,1,[1],[1],[1],[1],[1],1.0,1.0,1.0,3.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
25707,25707,3,3,"[1, 1, 0]","[1, 0, 1]","[0, 1, 1]",10,8,1.0,NaN,NaN,NaN,NaN
25708,25708,3,3,"[1, 1, 0]","[1, 0, 1]","[0, 1, 1]",10,8,2.0,NaN,NaN,NaN,NaN
25709,25709,3,3,"[1, 1, 0]","[1, 0, 1]","[0, 1, 1]",10,8,3.0,NaN,NaN,NaN,NaN
25710,25710,3,3,"[1, 1, 0]","[1, 0, 1]","[0, 1, 1]",10,8,4.0,NaN,NaN,NaN,NaN
25711,25711,3,3,"[1, 1, 0]","[1, 0, 1]","[0, 1, 1]",10,8,5.0,NaN,NaN,NaN,NaN
25712,25712,3,3,"[1, 1, 0]","[1, 0, 1]","[0, 1, 1]",10,8,6.0,NaN,NaN,NaN,NaN
25713,25713,3,3,"[1, 1, 0]","[1, 0, 1]","[0, 1, 1]",10,8,7.0,NaN,NaN,NaN,NaN
25714,25714,3,3,"[1, 1, 0]","[1, 0, 1]","[0, 1, 1]",10,8,8.0,NaN,NaN,NaN,NaN
25715,25715,3,3,"[1, 1, 0]","[1, 0, 1]","[0, 1, 1]",10,8,9.0,NaN,NaN,NaN,NaN
25716,25716,3,3,"[1, 1, 0]","[1, 0, 1]","[0, 1, 1]",10,8,10.0,NaN,NaN,NaN,NaN
25717,25717,3,3,"[1, 1, 0]","[1, 0, 1]","[0, 1, 1]",10,9,1.0,NaN,NaN,NaN,NaN
25718,25718,3,3,"[1, 1, 0]","[1, 0, 1]","[0, 1, 1]",10,9,2.0,NaN,NaN,NaN,NaN
25719,25719,3,3,"[1, 1, 0]","[1, 0, 1]","[0, 1, 1]",10,9,3.0,NaN,NaN,NaN,NaN
25720,25720,3,3,"[1, 1, 0]","[1, 0, 1]","[0, 1, 1]",10,9,4.0,NaN,NaN,NaN,NaN
25721,25721,3,3,"[1, 1, 0]","[1, 0, 1]","[0, 1, 1]",10,9,5.0,NaN,NaN,NaN,NaN
25722,25722,3,3,"[1, 1, 0]","[1, 0, 1]","[0, 1, 1]",10,9,6.0,NaN,NaN,NaN,NaN
25723,25723,3,3,"[1, 1, 0]","[1, 0, 1]","[0, 1, 1]",10,9,7.0,NaN,NaN,NaN,NaN
25724,25724,3,3,"[1, 1, 0]","[1, 0, 1]","[0, 1, 1]",10,9,8.0,NaN,NaN,NaN,NaN
25725,25725,3,3,"[1, 1, 0]","[1, 0, 1]","[0, 1, 1]",10,9,9.0,NaN,NaN,NaN,NaN
25726,25726,3,3,"[1, 1, 0]","[1, 0, 1]","[0, 1, 1]",10,9,10.0,NaN,NaN,NaN,NaN
25727,25727,3,3,"[1, 1, 0]","[1, 0, 1]","[0, 1, 1]",10,10,1.0,NaN,NaN,NaN,NaN
25728,25728,3,3,"[1, 1, 0]","[1, 0, 1]","[0, 1, 1]",10,10,2.0,NaN,NaN,NaN,NaN
25729,25729,3,3,"[1, 1, 0]","[1, 0, 1]","[0, 1, 1]",10,10,3.0,NaN,NaN,NaN,NaN
25730,25730,3,3,"[1, 1, 0]","[1, 0, 1]","[0, 1, 1]",10,10,4.0,NaN,NaN,NaN,NaN
25731,25731,3,3,"[1, 1, 0]","[1, 0, 1]","[0, 1, 1]",10,10,5.0,NaN,NaN,NaN,NaN
25732,25732,3,3,"[1, 1, 0]","[1, 0, 1]","[0, 1, 1]",10,10,6.0,NaN,NaN,NaN,NaN
25733,25733,3,3,"[1, 1, 0]","[1, 0, 1]","[0, 1, 1]",10,10,7.0,NaN,NaN,NaN,NaN
25734,25734,3,3,"[1, 1, 0]","[1, 0, 1]","[0, 1, 1]",10,10,8.0,NaN,NaN,NaN,NaN
25735,25735,3,3,"[1, 1, 0]","[1, 0, 1]","[0, 1, 1]",10,10,9.0,NaN,NaN,NaN,NaN
25736,25736,3,3,"[1, 1, 0]","[1, 0, 1]","[0, 1, 1]",10,10,10.0,NaN,NaN,NaN,NaN

In [13]:
sm_market.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25737 entries, 0 to 25736
Data columns (total 13 columns):
index          25737 non-null int64
num_bidders    25737 non-null int64
num_goods      25737 non-null int64
col_0          25737 non-null object
col_1          25737 non-null object
col_2          25727 non-null object
col_3          25727 non-null object
col_4          25327 non-null object
col_5          25327 non-null float64
col_6          18227 non-null float64
col_7          18227 non-null float64
col_8          2002 non-null float64
col_9          2002 non-null float64
dtypes: float64(5), int64(3), object(5)
memory usage: 2.6+ MB

In [14]:
for i in range(1, num_vertices):
    print(i, num_vertices - i, len(sm_market[(sm_market['num_bidders'] == i) & (sm_market['num_goods'] == num_vertices - i)]))

1 5 10
2 4 400
3 3 7100
4 2 16225
5 1 2002

In [15]:
total = 6
parquet_part = 'part-00000-564772af-0f06-4929-a8e4-bc9561b002d2-c000.snappy.parquet'

In [16]:
results = pd.read_parquet(f"../experiments_results/markets_{total}.parquet/{parquet_part}", engine='pyarrow')

In [17]:
results

,index,num_bidders,num_goods,col_0,col_1,col_2,col_3,col_4,col_5,col_6,col_7,col_8,col_9,linear,non_linear
0,0,1,5,"[1, 1, 1, 1, 1]",1,None,None,None,None,None,None,None,None,1,1
1,1,1,5,"[1, 1, 1, 1, 1]",2,None,None,None,None,None,None,None,None,1,1
2,2,1,5,"[1, 1, 1, 1, 1]",3,None,None,None,None,None,None,None,None,1,1
3,3,1,5,"[1, 1, 1, 1, 1]",4,None,None,None,None,None,None,None,None,1,1
4,4,1,5,"[1, 1, 1, 1, 1]",5,None,None,None,None,None,None,None,None,1,1
5,5,1,5,"[1, 1, 1, 1, 1]",6,None,None,None,None,None,None,None,None,1,1
6,6,1,5,"[1, 1, 1, 1, 1]",7,None,None,None,None,None,None,None,None,1,1
7,7,1,5,"[1, 1, 1, 1, 1]",8,None,None,None,None,None,None,None,None,1,1
8,8,1,5,"[1, 1, 1, 1, 1]",9,None,None,None,None,None,None,None,None,1,1
9,9,1,5,"[1, 1, 1, 1, 1]",10,None,None,None,None,None,None,None,None,1,1
10,10,5,1,[1],[1],[1],[1],[1],1,1,1,1,1,1,1
11,11,5,1,[1],[1],[1],[1],[1],1,1,1,1,2,1,1
12,12,5,1,[1],[1],[1],[1],[1],1,1,1,1,3,1,1
13,13,5,1,[1],[1],[1],[1],[1],1,1,1,1,4,1,1
14,14,5,1,[1],[1],[1],[1],[1],1,1,1,1,5,1,1
15,15,5,1,[1],[1],[1],[1],[1],1,1,1,1,6,1,1
16,16,5,1,[1],[1],[1],[1],[1],1,1,1,1,7,1,1
17,17,5,1,[1],[1],[1],[1],[1],1,1,1,1,8,1,1
18,18,5,1,[1],[1],[1],[1],[1],1,1,1,1,9,1,1
19,19,5,1,[1],[1],[1],[1],[1],1,1,1,1,10,1,1
20,20,5,1,[1],[1],[1],[1],[1],1,1,1,2,2,1,1
21,21,5,1,[1],[1],[1],[1],[1],1,1,1,2,3,1,1
22,22,5,1,[1],[1],[1],[1],[1],1,1,1,2,4,1,1
23,23,5,1,[1],[1],[1],[1],[1],1,1,1,2,5,1,1
24,24,5,1,[1],[1],[1],[1],[1],1,1,1,2,6,1,1
25,25,5,1,[1],[1],[1],[1],[1],1,1,1,2,7,1,1
26,26,5,1,[1],[1],[1],[1],[1],1,1,1,2,8,1,1
27,27,5,1,[1],[1],[1],[1],[1],1,1,1,2,9,1,1
28,28,5,1,[1],[1],[1],[1],[1],1,1,1,2,10,1,1
29,29,5,1,[1],[1],[1],[1],[1],1,1,1,3,3,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25707,25707,3,3,"[1, 1, 0]","[1, 0, 1]","[0, 1, 1]",10,8,1,None,None,None,None,1,1
25708,25708,3,3,"[1, 1, 0]","[1, 0, 1]","[0, 1, 1]",10,8,2,None,None,None,None,1,1
25709,25709,3,3,"[1, 1, 0]","[1, 0, 1]","[0, 1, 1]",10,8,3,None,None,None,None,0,0
25710,25710,3,3,"[1, 1, 0]","[1, 0, 1]","[0, 1, 1]",10,8,4,None,None,None,None,0,0
25711,25711,3,3,"[1, 1, 0]","[1, 0, 1]","[0, 1, 1]",10,8,5,None,None,None,None,0,0
25712,25712,3,3,"[1, 1, 0]","[1, 0, 1]","[0, 1, 1]",10,8,6,None,None,None,None,0,0
25713,25713,3,3,"[1, 1, 0]","[1, 0, 1]","[0, 1, 1]",10,8,7,None,None,None,None,0,0
25714,25714,3,3,"[1, 1, 0]","[1, 0, 1]","[0, 1, 1]",10,8,8,None,None,None,None,0,0
25715,25715,3,3,"[1, 1, 0]","[1, 0, 1]","[0, 1, 1]",10,8,9,None,None,None,None,0,0
25716,25716,3,3,"[1, 1, 0]","[1, 0, 1]","[0, 1, 1]",10,8,10,None,None,None,None,0,0
25717,25717,3,3,"[1, 1, 0]","[1, 0, 1]","[0, 1, 1]",10,9,1,None,None,None,None,1,1
25718,25718,3,3,"[1, 1, 0]","[1, 0, 1]","[0, 1, 1]",10,9,2,None,None,None,None,0,0
25719,25719,3,3,"[1, 1, 0]","[1, 0, 1]","[0, 1, 1]",10,9,3,None,None,None,None,0,0
25720,25720,3,3,"[1, 1, 0]","[1, 0, 1]","[0, 1, 1]",10,9,4,None,None,None,None,0,0
25721,25721,3,3,"[1, 1, 0]","[1, 0, 1]","[0, 1, 1]",10,9,5,None,None,None,None,0,0
25722,25722,3,3,"[1, 1, 0]","[1, 0, 1]","[0, 1, 1]",10,9,6,None,None,None,None,0,0
25723,25723,3,3,"[1, 1, 0]","[1, 0, 1]","[0, 1, 1]",10,9,7,None,None,None,None,0,0
25724,25724,3,3,"[1, 1, 0]","[1, 0, 1]","[0, 1, 1]",10,9,8,None,None,None,None,0,0
25725,25725,3,3,"[1, 1, 0]","[1, 0, 1]","[0, 1, 1]",10,9,9,None,None,None,None,0,0
25726,25726,3,3,"[1, 1, 0]","[1, 0, 1]","[0, 1, 1]",10,9,10,None,None,None,None,0,0
25727,25727,3,3,"[1, 1, 0]","[1, 0, 1]","[0, 1, 1]",10,10,1,None,None,None,None,0,0
25728,25728,3,3,"[1, 1, 0]","[1, 0, 1]","[0, 1, 1]",10,10,2,None,None,None,None,0,0
25729,25729,3,3,"[1, 1, 0]","[1, 0, 1]","[0, 1, 1]",10,10,3,None,None,None,None,0,0
25730,25730,3,3,"[1, 1, 0]","[1, 0, 1]","[0, 1, 1]",10,10,4,None,None,None,None,0,0
25731,25731,3,3,"[1, 1, 0]","[1, 0, 1]","[0, 1, 1]",10,10,5,None,None,None,None,0,0
25732,25732,3,3,"[1, 1, 0]","[1, 0, 1]","[0, 1, 1]",10,10,6,None,None,None,None,0,0
25733,25733,3,3,"[1, 1, 0]","[1, 0, 1]","[0, 1, 1]",10,10,7,None,None,None,None,0,0
25734,25734,3,3,"[1, 1, 0]","[1, 0, 1]","[0, 1, 1]",10,10,8,None,None,None,None,0,0
25735,25735,3,3,"[1, 1, 0]","[1, 0, 1]","[0, 1, 1]",10,10,9,None,None,None,None,0,0
25736,25736,3,3,"[1, 1, 0]","[1, 0, 1]","[0, 1, 1]",10,10,10,None,None,None,None,0,0

In [18]:
results.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25737 entries, 0 to 25736
Data columns (total 15 columns):
index          25737 non-null object
num_bidders    25737 non-null object
num_goods      25737 non-null object
col_0          25737 non-null object
col_1          25737 non-null object
col_2          25727 non-null object
col_3          25727 non-null object
col_4          25327 non-null object
col_5          25327 non-null object
col_6          18227 non-null object
col_7          18227 non-null object
col_8          2002 non-null object
col_9          2002 non-null object
linear         25737 non-null int32
non_linear     25737 non-null int32
dtypes: int32(2), object(13)
memory usage: 2.7+ MB

In [31]:
print('linear\tnon-linear \t count')
for i in [1, 0]:
    for j in [1, 0]:
        data = results[(results['linear'] == i) & (results['non_linear'] == j)]
        print(f"{'yes' if i == 1 else 'no'}\t {'yes' if j == 1 else 'no'} \t\t {len(data)}")

linear	non-linear 	 count
yes	 yes 		 25232
yes	 no 		 0
no	 yes 		 0
no	 no 		 505