## Imports

In [1]:
import pandas as pd

## Inspect non-iso graphs

In [2]:
num_vertices = 6

In [3]:
non_iso_graphs = pd.read_csv(f"../non_iso_bipartite_graphs/non_isomorphic_bipartite_connected_vertices_{num_vertices}.gzip", compression='gzip')

In [4]:
non_iso_graphs

,len_big_partition,len_small_partition,big_partition,small_partition,edges
0,5,1,"{1, 2, 3, 4, 5}",{0},"((0, 1), (0, 2), (0, 3), (0, 4), (0, 5))"
1,4,2,"{1, 2, 3, 4}","{0, 5}","((0, 1), (0, 2), (0, 3), (0, 4), (1, 5))"
2,3,3,"{0, 3, 5}","{1, 2, 4}","((0, 1), (0, 2), (1, 3), (0, 4), (1, 5))"
3,3,3,"{0, 3, 5}","{1, 2, 4}","((0, 1), (0, 2), (1, 3), (0, 4), (2, 5))"
4,4,2,"{0, 3, 4, 5}","{1, 2}","((0, 1), (0, 2), (1, 3), (2, 4), (1, 5))"
5,3,3,"{0, 3, 4}","{1, 2, 5}","((0, 1), (0, 2), (1, 3), (2, 4), (3, 5))"
6,4,2,"{1, 2, 4, 5}","{0, 3}","((0, 1), (0, 2), (1, 3), (0, 4), (2, 3), (3, 5))"
7,3,3,"{0, 3, 5}","{1, 2, 4}","((0, 1), (0, 2), (1, 3), (0, 4), (2, 3), (4, 5))"
8,4,2,"{1, 2, 4, 5}","{0, 3}","((0, 1), (0, 2), (1, 3), (0, 4), (0, 5), (2, 3))"
9,3,3,"{0, 4, 5}","{1, 2, 3}","((0, 1), (0, 2), (3, 4), (3, 5), (0, 3), (1, 4))"
10,3,3,"{0, 4, 5}","{1, 2, 3}","((0, 1), (0, 2), (3, 4), (3, 5), (1, 4), (2, 5))"

In [5]:
non_iso_graphs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11 entries, 0 to 10
Data columns (total 5 columns):
len_big_partition      11 non-null int64
len_small_partition    11 non-null int64
big_partition          11 non-null object
small_partition        11 non-null object
edges                  11 non-null object
dtypes: int64(2), object(3)
memory usage: 520.0+ bytes

## Inspect non-iso markets

In [6]:
non_iso_markets = pd.read_csv(f"../non_iso_markets/non_iso_markets_vertices_{num_vertices}.gzip", compression='gzip')

In [7]:
non_iso_markets

,num_bidders,num_goods,bidder_0,bidder_1,bidder_2,bidder_3,bidder_4
0,1,5,"[1, 1, 1, 1, 1]",NaN,NaN,NaN,NaN
1,5,1,[1],[1],[1],[1],[1]
2,2,4,"[1, 1, 1, 1]","[1, 0, 0, 0]",NaN,NaN,NaN
3,4,2,"[1, 1]","[1, 0]","[1, 0]","[1, 0]",NaN
4,3,3,"[1, 1, 1]","[1, 0, 0]","[1, 0, 0]",NaN,NaN
5,3,3,"[1, 1, 0]","[1, 0, 1]","[1, 0, 0]",NaN,NaN
6,3,3,"[1, 1, 1]","[1, 0, 0]","[0, 1, 0]",NaN,NaN
7,2,4,"[1, 1, 0, 1]","[1, 0, 1, 0]",NaN,NaN,NaN
8,4,2,"[1, 1]","[1, 0]","[0, 1]","[1, 0]",NaN
9,3,3,"[1, 1, 0]","[1, 0, 1]","[0, 1, 0]",NaN,NaN
10,2,4,"[1, 1, 1, 0]","[1, 1, 0, 1]",NaN,NaN,NaN
11,4,2,"[1, 1]","[1, 1]","[1, 0]","[0, 1]",NaN
12,3,3,"[1, 1, 0]","[1, 1, 0]","[1, 0, 1]",NaN,NaN
13,3,3,"[1, 1, 1]","[1, 1, 0]","[0, 0, 1]",NaN,NaN
14,2,4,"[1, 1, 1, 1]","[1, 1, 0, 0]",NaN,NaN,NaN
15,4,2,"[1, 1]","[1, 1]","[1, 0]","[1, 0]",NaN
16,3,3,"[1, 1, 0]","[1, 0, 0]","[1, 1, 1]",NaN,NaN
17,3,3,"[1, 1, 0]","[1, 0, 1]","[0, 1, 1]",NaN,NaN

In [8]:
non_iso_markets.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18 entries, 0 to 17
Data columns (total 7 columns):
num_bidders    18 non-null int64
num_goods      18 non-null int64
bidder_0       18 non-null object
bidder_1       17 non-null object
bidder_2       13 non-null object
bidder_3       5 non-null object
bidder_4       1 non-null object
dtypes: int64(2), object(5)
memory usage: 1.1+ KB

In [9]:
len(non_iso_graphs), len(non_iso_graphs) * 2, len(non_iso_markets)

(11, 22, 18)

## Inspect single-minded markets

In [10]:
num_vertices = 6
up_to_value = 2

In [11]:
sm_market = pd.read_csv(f"../all_sm_markets/values_1_to_{up_to_value}/sm_market_{num_vertices}_values_1_to_{up_to_value}.gzip", compression='gzip')

In [12]:
sm_market

,index,num_bidders,num_goods,col_0,col_1,col_2,col_3,col_4,col_5,col_6,col_7,col_8,col_9
0,0,1,5,"[1, 1, 1, 1, 1]",1,-1,-1,-1,-1,-1,-1,-1,-1
1,1,1,5,"[1, 1, 1, 1, 1]",2,-1,-1,-1,-1,-1,-1,-1,-1
2,2,5,1,[1],[1],[1],[1],[1],1,1,1,1,1
3,3,5,1,[1],[1],[1],[1],[1],1,1,1,1,2
4,4,5,1,[1],[1],[1],[1],[1],1,1,1,2,2
5,5,5,1,[1],[1],[1],[1],[1],1,1,2,2,2
6,6,5,1,[1],[1],[1],[1],[1],1,2,2,2,2
7,7,5,1,[1],[1],[1],[1],[1],2,2,2,2,2
8,8,2,4,"[1, 1, 1, 1]","[1, 0, 0, 0]",1,1,-1,-1,-1,-1,-1,-1
9,9,2,4,"[1, 1, 1, 1]","[1, 0, 0, 0]",1,2,-1,-1,-1,-1,-1,-1
10,10,2,4,"[1, 1, 1, 1]","[1, 0, 0, 0]",2,1,-1,-1,-1,-1,-1,-1
11,11,2,4,"[1, 1, 1, 1]","[1, 0, 0, 0]",2,2,-1,-1,-1,-1,-1,-1
12,12,4,2,"[1, 1]","[1, 0]","[1, 0]","[1, 0]",1,1,1,1,-1,-1
13,13,4,2,"[1, 1]","[1, 0]","[1, 0]","[1, 0]",1,1,1,2,-1,-1
14,14,4,2,"[1, 1]","[1, 0]","[1, 0]","[1, 0]",1,1,2,2,-1,-1
15,15,4,2,"[1, 1]","[1, 0]","[1, 0]","[1, 0]",1,2,2,2,-1,-1
16,16,4,2,"[1, 1]","[1, 0]","[1, 0]","[1, 0]",2,1,1,1,-1,-1
17,17,4,2,"[1, 1]","[1, 0]","[1, 0]","[1, 0]",2,1,1,2,-1,-1
18,18,4,2,"[1, 1]","[1, 0]","[1, 0]","[1, 0]",2,1,2,2,-1,-1
19,19,4,2,"[1, 1]","[1, 0]","[1, 0]","[1, 0]",2,2,2,2,-1,-1
20,20,3,3,"[1, 1, 1]","[1, 0, 0]","[1, 0, 0]",1,1,1,-1,-1,-1,-1
21,21,3,3,"[1, 1, 1]","[1, 0, 0]","[1, 0, 0]",1,1,2,-1,-1,-1,-1
22,22,3,3,"[1, 1, 1]","[1, 0, 0]","[1, 0, 0]",1,2,2,-1,-1,-1,-1
23,23,3,3,"[1, 1, 1]","[1, 0, 0]","[1, 0, 0]",2,1,1,-1,-1,-1,-1
24,24,3,3,"[1, 1, 1]","[1, 0, 0]","[1, 0, 0]",2,1,2,-1,-1,-1,-1
25,25,3,3,"[1, 1, 1]","[1, 0, 0]","[1, 0, 0]",2,2,2,-1,-1,-1,-1
26,26,3,3,"[1, 1, 0]","[1, 0, 1]","[1, 0, 0]",1,1,1,-1,-1,-1,-1
27,27,3,3,"[1, 1, 0]","[1, 0, 1]","[1, 0, 0]",1,1,2,-1,-1,-1,-1
28,28,3,3,"[1, 1, 0]","[1, 0, 1]","[1, 0, 0]",1,2,1,-1,-1,-1,-1
29,29,3,3,"[1, 1, 0]","[1, 0, 1]","[1, 0, 0]",1,2,2,-1,-1,-1,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,95,3,3,"[1, 1, 1]","[1, 1, 0]","[0, 0, 1]",2,2,2,-1,-1,-1,-1
96,96,2,4,"[1, 1, 1, 1]","[1, 1, 0, 0]",1,1,-1,-1,-1,-1,-1,-1
97,97,2,4,"[1, 1, 1, 1]","[1, 1, 0, 0]",1,2,-1,-1,-1,-1,-1,-1
98,98,2,4,"[1, 1, 1, 1]","[1, 1, 0, 0]",2,1,-1,-1,-1,-1,-1,-1
99,99,2,4,"[1, 1, 1, 1]","[1, 1, 0, 0]",2,2,-1,-1,-1,-1,-1,-1
100,100,4,2,"[1, 1]","[1, 1]","[1, 0]","[1, 0]",1,1,1,1,-1,-1
101,101,4,2,"[1, 1]","[1, 1]","[1, 0]","[1, 0]",1,1,1,2,-1,-1
102,102,4,2,"[1, 1]","[1, 1]","[1, 0]","[1, 0]",1,1,2,2,-1,-1
103,103,4,2,"[1, 1]","[1, 1]","[1, 0]","[1, 0]",1,2,1,1,-1,-1
104,104,4,2,"[1, 1]","[1, 1]","[1, 0]","[1, 0]",1,2,1,2,-1,-1
105,105,4,2,"[1, 1]","[1, 1]","[1, 0]","[1, 0]",1,2,2,2,-1,-1
106,106,4,2,"[1, 1]","[1, 1]","[1, 0]","[1, 0]",2,2,1,1,-1,-1
107,107,4,2,"[1, 1]","[1, 1]","[1, 0]","[1, 0]",2,2,1,2,-1,-1
108,108,4,2,"[1, 1]","[1, 1]","[1, 0]","[1, 0]",2,2,2,2,-1,-1
109,109,3,3,"[1, 1, 0]","[1, 0, 0]","[1, 1, 1]",1,1,1,-1,-1,-1,-1
110,110,3,3,"[1, 1, 0]","[1, 0, 0]","[1, 1, 1]",1,1,2,-1,-1,-1,-1
111,111,3,3,"[1, 1, 0]","[1, 0, 0]","[1, 1, 1]",1,2,1,-1,-1,-1,-1
112,112,3,3,"[1, 1, 0]","[1, 0, 0]","[1, 1, 1]",1,2,2,-1,-1,-1,-1
113,113,3,3,"[1, 1, 0]","[1, 0, 0]","[1, 1, 1]",2,1,1,-1,-1,-1,-1
114,114,3,3,"[1, 1, 0]","[1, 0, 0]","[1, 1, 1]",2,1,2,-1,-1,-1,-1
115,115,3,3,"[1, 1, 0]","[1, 0, 0]","[1, 1, 1]",2,2,1,-1,-1,-1,-1
116,116,3,3,"[1, 1, 0]","[1, 0, 0]","[1, 1, 1]",2,2,2,-1,-1,-1,-1
117,117,3,3,"[1, 1, 0]","[1, 0, 1]","[0, 1, 1]",1,1,1,-1,-1,-1,-1
118,118,3,3,"[1, 1, 0]","[1, 0, 1]","[0, 1, 1]",1,1,2,-1,-1,-1,-1
119,119,3,3,"[1, 1, 0]","[1, 0, 1]","[0, 1, 1]",1,2,1,-1,-1,-1,-1
120,120,3,3,"[1, 1, 0]","[1, 0, 1]","[0, 1, 1]",1,2,2,-1,-1,-1,-1
121,121,3,3,"[1, 1, 0]","[1, 0, 1]","[0, 1, 1]",2,1,1,-1,-1,-1,-1
122,122,3,3,"[1, 1, 0]","[1, 0, 1]","[0, 1, 1]",2,1,2,-1,-1,-1,-1
123,123,3,3,"[1, 1, 0]","[1, 0, 1]","[0, 1, 1]",2,2,1,-1,-1,-1,-1
124,124,3,3,"[1, 1, 0]","[1, 0, 1]","[0, 1, 1]",2,2,2,-1,-1,-1,-1

In [13]:
sm_market.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 125 entries, 0 to 124
Data columns (total 13 columns):
index          125 non-null int64
num_bidders    125 non-null int64
num_goods      125 non-null int64
col_0          125 non-null object
col_1          125 non-null object
col_2          125 non-null object
col_3          125 non-null object
col_4          125 non-null object
col_5          125 non-null int64
col_6          125 non-null int64
col_7          125 non-null int64
col_8          125 non-null int64
col_9          125 non-null int64
dtypes: int64(8), object(5)
memory usage: 12.8+ KB